<div class="container-fluid">
  <h2 class="titulo" style="margin-bottom: 0;">El aroma mágico</h2>

  <img src="https://raw.githubusercontent.com/ja-ardila/images/main/Line%2013.png" class="img-fluid" alt="linea">
  <img src="https://raw.githubusercontent.com/ja-ardila/images/main/image%201.png" class="img-fluid" alt="Cafe">
  <img src="https://raw.githubusercontent.com/ja-ardila/images/main/Line%2013.png" class="img-fluid" alt="linea">

  <div class="row">
    <div class="col-7">
      <app-cafe-list></app-cafe-list>
    </div>
  </div>
</div>